.elements{
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  padding: 51px 0 0 0;
  justify-content: center;
}

@media screen and (max-width: 1285px){
  .elements{  
    max-width: 882px;
  }
}

@media screen and (min-width: 1290px){
  .elements{  
    grid-template-columns: repeat(3, 282px);
    grid-gap: 177px;
  }
}

@media screen and (max-width: 325px){
    .elements{  
      width: 88.1%;
      grid-row-gap: 20px;
      grid-column-gap: 0;
    }
  }
